<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Password Generator</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

	<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
	<div class="jumbotron">
		<h1 class="display-4">Random Password Generator</h1>
		<p class="lead">Select the number of each type of character to generate a random password.</p>
	</div>
	<form action="" method="post" id="data">
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<label class="input-group-text" for="inputGroupSelect01">Lower Case</label>
			</div>
				<select class="custom-select" id="inputGroupSelect01" name="n_lower">
					<option value=3>3</option>
					<option value=4>4</option>
					<option value=5>5</option>
					<option value=5>6</option>
				</select>
			</div>
		</div>

		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<label class="input-group-text" for="inputGroupSelect01">Upper Case</label>
			</div>
				<select class="custom-select" id="inputGroupSelect01" name="n_upper">
					<option value=3>3</option>
					<option value=4>4</option>
					<option value=5>5</option>
					<option value=5>6</option>
				</select>
			</div>
		</div>

		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<label class="input-group-text" for="inputGroupSelect01">Digits</label>
			</div>
				<select class="custom-select" id="inputGroupSelect01" name="n_digits">
					<option value=3>3</option>
					<option value=4>4</option>
					<option value=5>5</option>
					<option value=5>6</option>
				</select>
			</div>
		</div>

		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<label class="input-group-text" for="inputGroupSelect01">Special Characters</label>
			</div>
				<select class="custom-select" id="inputGroupSelect01" name="n_spchars">
					<option value=3>3</option>
					<option value=4>4</option>
					<option value=5>5</option>
					<option value=5>6</option>
				</select>
			</div>
		</div>

		<button class="btn btn-primary" type="submit">Generate Password</button>
	</form>

	<div class="input-group mb-3" style="margin-top: 20px;">
		<input type="text" class="form-control" id="pw" readonly="readonly" value="{{ data }}">
		<div class="input-group-append">
			<button class="btn btn-outline-secondary" type="button" id="copy" onclick="copy()">Copy</button>
		</div>
	</div>

</body>
</html>